<div class="col-md-4">
  <div class="card {{#if borderClass}}{{borderClass}}{{else}}border-0{{/if}} shadow-sm h-100">
    <div class="card-body py-4">
      <div class="text-center">
        <i class="bi {{icon}} display-4 {{color}} mb-2"></i>
        <p class="{{color}} mb-2 fw-bold">{{title}}</p>
        <h3 class="{{color}} fw-bold mb-0">{{value}}</h3>
        <small class="text-muted">VND</small>
      </div>
    </div>
  </div>
</div>